{
  'extends': 'airbnb/base',
  'rules': {
    'quotes': [1],
    'no-console': ['error', { allow: ['log'] }],
    'valid-jsdoc': [2, {
      'requireReturn': false,
      'requireReturnDescription': false,
      'prefer': {
        'returns': 'return'
      },
    }],
  },
  'env': {
    'node': true
  },
}
