# Ignore cache
.sass-cache
.cache
.tmp

# IDE
.idea
**/.idea/
*.sublime-workspace

# Logs
*.log*

# OS
**/.DS_Store
._*
*~
*.lock
.Thumbs.db
ehthumbs.db
.Spotlight-V100
.Trashes

# Project
node_modules
package-lock.json
